<html>
<head>
	<title>Report</title>
</head>
<body>
	<h1><center>Report a problem</center></h1>
					<fieldset>
					<legend><b><h1>Complain box</h1></b></legend>

	<b>Who you want to report?</b><br>
    <select name="ABC">
				<option value="">Admin</option>
				<option value="">Buyer</option>
				<option value="" selected>Seller</option>
				<option value="">Othder</option>
			</select>
			<br><br>

			<b>What is it about?<b/>

		<form>
			<input type="text" name="" value=""><br>
			<br>
			<b>Attatch some proof(image/screenshots):</b><br>
  <input type="file" id="myFile" name="filename"><br>
  <br><input type="submit">
</form>
	</h4>
	</fieldset>
</body>
</html>