<html>
<head>
	<title>Rent</title>
</head>
<body><form method="post" action="../controller/Logincheck.php">
		<fieldset>
				<legend><b><h1>Rent a tool</h1></b></legend>
			
				<b>Budget Renge:</b><br><select name="">
				<option value="" selected>0-500</option>
				<option value="">500-1000</option>
				<option value="">1000-2000</option>
				<option value="">2000-5000</option>
			</select> <br><br>
			<b>What tool will you rent?</b><br>
			<select name="">
				<option value="" selected >Plough</option>
				<option value="">Axe</option>
				<option value="">Tractor</option>
				<option value="">Seeder</option>
				<option value="">Other</option><br><br>
			</select> <br><br>
             <b>If other write the tools name:</b>
			<input type="Password" name="passadmin" value=""><br><br>
					<input type="submit" name="submit" value="Submit">
		</fieldset>
		</form>
</body>
</html>