<!Doctype html>
<head>
	<title>WORKER LOGIN</title>
	<link rel="stylesheet" type= "text/css" href="../css/style.css">

</head>
<body>
	<table >
		<tr>
		<td height="10%"><img src="../assets/139832300-simple-modern-agriculture-logo-design-vector.jpg" width="10%"></td>
		<td width="20%" align="right">
			<a href="../index.php"><b>HOME</b></a>
		</td>
		</tr>

		<tr>
		<td colspan="2">
			<form method="post" action="../controller/Logincheck.php">
				<fieldset>
					<legend><b><h1>LOGIN</h1></b></legend>
					<b>USERNAME</b><br>
					<input type="text" name="wname" value=""><br>
					<b>PASSWORD</b><br>
					<input type="Password" name="wpass" value=""><br><br>
					<input type="submit" name="submit" value="Log In">
				</fieldset>
			</form>
			<i style="Color:Red"><b>Don't have an account? Register now!</b> </i><br>
			<a href="wreg.html"><b>Signup</b></a>
					
		   </td>
		   </tr>
	     </table>		
</body>
</html>