<html>
<head>
	<title> REGISTRATION</title>
</head>
<body>
	<table>
		<tr>
		<td height="10%"><img src="../assets/139832300-simple-modern-agriculture-logo-design-vector.jpg" width="10%"></td>
		<td width="20%">
			<a href="Choose.html">HOME</a> | <a href="wlogin.html">LOGIN</a>
		</td>
		</tr>

		<tr>
		<td colspan="2">
			<form method="post" action="../controller/Reg.php">
				<fieldset>
					<legend><b><h1>REGISTRATION</h1></b></legend>
					<b>USERNAME:</b><br>
					<input type="text" name="wname" value=""><br>
					<b>Password:</b><br>
					<input type="Password" name="wpass" value=""><br>
					<b>Confirm Password:</b><br>
					<input type="text" name="wcpass" value=""><br>
					<b>Gender:</b><br>
					<input type="radio" name="gender" value="Male">Male<br>
					<input type="radio" name="gender" value="Female">Female<br>
					<input type="radio" name="gender" value="Others">Others..<br>
					<b>Date of Birth:</b><br>
					<input type="text" name="dob" value=""> /
					<input type="text" name="mob" value=""> /
					<input type="text" name="yob" value=""> <i style="Color:Red">(dd/mm/yyyy)</i><br><br>
					<b>Phone:</b><br>
					<input type="text" name="number" value=""><br><br>
					<input type="submit" name="submit" value="Sign Up">
				</fieldset>
			</form>
		</td>
		</tr>
	</table>
</body>
</html>